.panel-hero {
	@include padding(large);
	background: $dark_bg1 no-repeat center center / cover;

	.site-header {
		width: 100%;
	}
}

.hero-message {
	@include breakpoint(grande) {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
	}

	.message-container {
		@include breakpoint(grande) {
			flex-grow: 0;
			flex-shrink: 1;
			flex-basis: 50%;
		}
	}
}

.otc-box {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
	border-width: .125em;
	border-style: solid;

	&.issue-cover {
		display: none;
		border-color: $white;

		@include breakpoint(grande) {
			display: block;
			max-width: 10rem;
		}
	}
}

.issue-info {
	align-items: flex-start;
	justify-content: flex-start;
	color: $white;

	.hero-wrapper {
		flex-direction: row-reverse;

		@include breakpoint(grande) {
			display: flex;
			justify-content: space-between;
		}
	}
}

.cover-story {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	background: rgba($white, .75);
	padding: 1.125em;
	
	@include breakpoint(grande) {
		padding: 2.5vw;
	}

	.story-title {
		margin: 0;
		color: $primary_color;
		font-family: $font_alt;
		@include font-size(56);
		@include tracking(50);
		line-height: 1;
		text-transform: uppercase;
	}

	.story-excerpt {
		margin: 1em 0;
		@include font-size(22);
	}

	.story-link {
		text-align: right;
	}
}

.issue-details {
	padding-bottom: 1.125rem;
	text-align: center;

	@include breakpoint(grande) {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		padding: 2.5vw;
		text-align: right;
	}

	.issue-heading {
		margin: 0;
		font-family: $font_main;
		@include font-size(30);
		@include tracking(100);
		line-height: 1.1;
		text-transform: uppercase;
	}
}
