.section-grid-4 {
	@include breakpoint(short) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	@include breakpoint(tall) {
		justify-content: flex-start;
	}

	.grid-item {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: auto;
		max-width: 20em;
		margin: 2.25em auto 0;

		&:first-child {
			margin-top: 0;
		}

		@include breakpoint(short) {
			max-width: none;
			margin: 2.25em 0 0;
			width: calc(50% - (1.5em / 2));

			&:nth-child(-n+2) {
				margin-top: 0;
			}
		}

		@include breakpoint(tall) {
			width: calc((100% / 3) - ((1.5em * 2) / 3));

			&:nth-child(-n+3) {
				margin-top: 0;
			}

			&:not(:nth-child(3n+1)) {
				margin-left: 1.5em;
			}
		}

		@include breakpoint(grande) {
			width: calc(25% - ((1.5em * 3) / 4));

			&:nth-child(-n+4) {
				margin-top: 0;
			}

			&:not(:nth-child(3n+1)) {
				margin-left: 0;
			}

			&:not(:nth-child(4n+1)) {
				margin-left: 1.5em;
			}
		}
	}
}

.section-grid-3 {
	@include breakpoint(short) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	@include breakpoint(tall) {
		justify-content: flex-start;
	}

	.grid-item {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: auto;
		max-width: 20em;
		margin: 1.5em auto 0;
		text-align: center;

		&:first-child {
			margin-top: 0;
		}

		@include breakpoint(short) {
			max-width: none;
			width: calc(50% - (1.5em / 2));

			&:nth-child(-n+2) {
				margin-top: 0;
			}
		}

		@include breakpoint(tall) {
			width: calc((100% / 3) - ((1.5em * 2) / 3));

			&:nth-child(-n+3) {
				margin-top: 0;
			}

			&:not(:nth-child(3n+1)) {
				margin-left: 1.5em;
			}
		}
	}
}

.section-grid-2 {
	@include breakpoint(tall) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.grid-item {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: auto;
		max-width: 25em;
		margin: 1.5em auto 0;

		&:first-child {
			margin-top: 0;
		}

		@include breakpoint(tall) {
			max-width: none;
			margin: 0;
			width: calc(50% - (1.5rem / 2));
		}

		@include breakpoint(grande) {
			width: calc(50% - 1.25vw);
		}
	}
}
